body{
    background-color: cornsilk;
}
li{
    border: 1px solid black;
}
.container button{
    margin-left: 110px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    background-color: cornsilk;
    border: white ;
}
input{
    margin-right: 10px;
}
ul{
    list-style-type: none;
}
.container{
    width: 250px;
}
input[type=checkbox]:checked + label {
    color:rgb(20, 19, 19);
    text-decoration: line-through;
  }
