<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mars</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    </head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img class="logoimg" width=150px; src="../images/logo.png">
            </div>
            <div class="nav">
                <nav id="navbar">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="picOfDay.html">Photos</a></li>
                        <li><a href="Mars.html">Mars</a></li>
                        <li><a href="memoryCard.html">Memory</a></li>
                        <li><a href="blog.html">blog</a></li>
                        <li><a href="tictactoe.html">Game</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="login.html">Log in</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <br>
    <main>
        <div class="mars">
            <h1>Mars</h1>
        </div>
        <br>
        <div class="container1">
            <div>
                <br>
                <h3>id</h3>
                <p id="description1"></p>
                <h3>date</h3>
                <p id="date1"></p>
                <div id="photo1"></div>
            </div>
            <div>
                <br>
                <h3>id</h3>
                <p id="description2"></p>
                <h3>date</h3>
                <p id="date2"></p>
                <div id="photo2"></div>
            </div>
        </div>
    
        <script src="../Js/mars.js"></script>
    </main>
    <br>
    <br>
    <footer>
        <div id="footer">
            <div>
                <br>
                <p><i class="fas fa-user-astronaut"></i></p>
                <br>
                <h3>Astronauts</h3>
            </div>
            <div>
                <br>
                <p><i class="fas fa-meteor"></i></p>
                <br>
                <h3>Meteors</h3>
            </div>
            <div>
                <br>
                <p><i class="fas fa-rocket"></i></p>
                <br>
                <h3>Rocket</h3>
            </div>
        </div>
        <br>
        <p class="copy">Copyright ©Gisela Camacho 2021 Nasa Project </p>
    </footer>
</body>
</html>